h1 {
  font-size: 20px;
  font-weight: 600;
  position: relative;
  letter-spacing: 2px;
  z-index: 1;
}
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  z-index: 999;
  background: #e3dc00;
  transform-origin: 0%;
}