@import "tailwindcss/base";

@import "tailwindcss/components";

@font-face {
  font-family: 'Noir';
  src: url('../public/NOIR_Font/Noir_regular.otf');
}

body{
  /* background: url('./img/devfolio\ Hero.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; */
  background-color: black;
  color: white;
}
/*Link styling*/
.cta {
 position: relative;
 padding: 12px 18px;
 transition: all 0.2s ease;
 border: none;
 background: none;
}

.cta:before {
 content: "";
 position: absolute;
 left: 0;
 display: block;
 border-radius: 50px;
 background: black;
 width: 45px;
 height: 45px;
box-shadow: var(--outer-shadow);
 transition: all 0.3s ease;
}

.cta span {
 position: relative;
 font-family: "Ubuntu", sans-serif;
 font-weight: 700;
 letter-spacing: 0.05em;
 color: white;
}
.cta svg {
 position: relative;
 top: 0;
 margin-left: 10px;
 fill: none;
 stroke-linecap: round;
 stroke-linejoin: round;
 stroke: white;
 stroke-width: 2;
 transform: translateX(-5px);
 transition: all 0.3s ease;
}

.cta:hover:before {
 width: 100%;
 background: black;
}

.cta:hover svg {
 transform: translateX(0);
}
/* .cta:active {
 transform: scale(0.95);
 color: #234567;
} */
.cta:active:after{
  content: '';
  position: absolute;
  height: 80%;
  width: 80%;
  background-color: transparent;
  border-radius: 50%;
}
@media screen and (max-height: 1024px) {
  .cta{
    padding: 26px 26px;
  }
}
@import "tailwindcss/utilities";

:root{
  --outer-shadow: -3px -3px 7px #e3cd00, 3px 3px 5px #e3cd00;
  --inner-shadow: inset -3px -3px 7px #e3cd00, inset 3px 3px 5px #e3cd00;
}
